openapi: "3.0.2"
info:
  title: Coolify API
  version: "1.0"
servers:
  - url: https://app.coolify.io/v1
    description: Coolify Cloud API. Change the host to your own instance if you are self-hosting.
paths:
  /deploy:
    get:
      summary: Deploy
      description: Deploy a resource by UUID or tag.
      parameters:
        - in: query
          name: uuid
          required: true
          schema:
            type: string
          description: The resource to deploy by UUID. Could be a comma separated list of UUIDs.
          allowReserved: true
          style: form
        - in: query
          name: tag
          required: true
          schema:
            type: string
          description: The resource to deploy by tag. Could be a comma separated list of tags.
          allowReserved: true
          style: form
      responses:
        "200":
          description: OK
  /teams:
    get:
      summary: Teams
      description: Get the list of teams for the currently authenticated user.
      responses:
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Unauthenticated."
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                      id:
                        type: integer
                      description:
                        type: string
                      name:
                        type: string
                      discord_enabled:
                        type: boolean
                      discord_notifications_database_backups:
                        type: boolean
                      discord_notifications_deployments:
                        type: boolean
                      discord_notifications_scheduled_tasks:
                        type: boolean
                      discord_notifications_status_changes:
                        type: boolean
                      discord_notifications_test:
                        type: boolean
                      discord_webhook_url:
                        type: string
                      personal_team:
                        type: boolean
                      resend_api_key:
                        type: string
                        nullable: true
                      resend_enabled:
                        type: boolean
                      show_boarding:
                        type: boolean
                      smtp_enabled:
                        type: boolean
                      smtp_encryption:
                        type: string
                        nullable: true
                      smtp_from_address:
                        type: string
                        nullable: true
                      smtp_from_name:
                        type: string
                        nullable: true
                      smtp_host:
                        type: string
                        nullable: true
                      smtp_notifications_database_backups:
                        type: boolean
                      smtp_notifications_deployments:
                        type: boolean
                      smtp_notifications_scheduled_tasks:
                        type: boolean
                      smtp_notifications_status_changes:
                        type: boolean
                      smtp_notifications_test:
                        type: boolean
                      smtp_password:
                        type: string
                        nullable: true
                      smtp_port:
                        type: integer
                        nullable: true
                      smtp_recipients:
                        type: string
                        nullable: true
                      smtp_timeout:
                        type: integer
                        nullable: true
                      smtp_username:
                        type: string
                        nullable: true
                      telegram_chat_id:
                        type: string
                      telegram_enabled:
                        type: boolean
                      telegram_notifications_database_backups:
                        type: boolean
                      telegram_notifications_database_backups_message_thread_id:
                        type: string
                      telegram_notifications_deployments:
                        type: boolean
                      telegram_notifications_deployments_message_thread_id:
                        type: string
                      telegram_notifications_scheduled_tasks:
                        type: boolean
                      telegram_notifications_scheduled_tasks_thread_id:
                        type: string
                      telegram_notifications_status_changes:
                        type: boolean
                      telegram_notifications_status_changes_message_thread_id:
                        type: string
                      telegram_notifications_test:
                        type: boolean
                      telegram_notifications_test_message_thread_id:
                        type: string
                      telegram_token:
                        type: string
                      use_instance_email_settings:
                        type: boolean
                      created_at:
                        type: string
                        format: date-time
                      updated_at:
                        type: string
                        format: date-time
  /team/{teamId}:
    get:
      summary: Team by id
      description: Get a team by `teamId`.
      parameters:
        - in: path
          name: teamId
          required: true
          schema:
            type: string
          description: The team ID.
      responses:
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Unauthenticated."
        "404":
          description: Team not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Team not found.
                  docs:
                    type: string
                    example: "https://coolify.io/docs/api-reference/get-team-by-teamid-members"
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  description:
                    type: string
                  name:
                    type: string
                  discord_enabled:
                    type: boolean
                  discord_notifications_database_backups:
                    type: boolean
                  discord_notifications_deployments:
                    type: boolean
                  discord_notifications_scheduled_tasks:
                    type: boolean
                  discord_notifications_status_changes:
                    type: boolean
                  discord_notifications_test:
                    type: boolean
                  discord_webhook_url:
                    type: string
                  personal_team:
                    type: boolean
                  resend_api_key:
                    type: string
                    nullable: true
                  resend_enabled:
                    type: boolean
                  show_boarding:
                    type: boolean
                  smtp_enabled:
                    type: boolean
                  smtp_encryption:
                    type: string
                    nullable: true
                  smtp_from_address:
                    type: string
                    nullable: true
                  smtp_from_name:
                    type: string
                    nullable: true
                  smtp_host:
                    type: string
                    nullable: true
                  smtp_notifications_database_backups:
                    type: boolean
                  smtp_notifications_deployments:
                    type: boolean
                  smtp_notifications_scheduled_tasks:
                    type: boolean
                  smtp_notifications_status_changes:
                    type: boolean
                  smtp_notifications_test:
                    type: boolean
                  smtp_password:
                    type: string
                    nullable: true
                  smtp_port:
                    type: integer
                    nullable: true
                  smtp_recipients:
                    type: string
                    nullable: true
                  smtp_timeout:
                    type: integer
                    nullable: true
                  smtp_username:
                    type: string
                    nullable: true
                  telegram_chat_id:
                    type: string
                  telegram_enabled:
                    type: boolean
                  telegram_notifications_database_backups:
                    type: boolean
                  telegram_notifications_database_backups_message_thread_id:
                    type: string
                  telegram_notifications_deployments:
                    type: boolean
                  telegram_notifications_deployments_message_thread_id:
                    type: string
                  telegram_notifications_scheduled_tasks:
                    type: boolean
                  telegram_notifications_scheduled_tasks_thread_id:
                    type: string
                  telegram_notifications_status_changes:
                    type: boolean
                  telegram_notifications_status_changes_message_thread_id:
                    type: string
                  telegram_notifications_test:
                    type: boolean
                  telegram_notifications_test_message_thread_id:
                    type: string
                  telegram_token:
                    type: string
                  use_instance_email_settings:
                    type: boolean
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
  /team/{teamId}/members:
    get:
      summary: Team's Members
      description: Get the list of members in a team by `teamId`.
      parameters:
        - in: path
          name: teamId
          required: true
          schema:
            type: string
          description: The team ID.
      responses:
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Unauthenticated."
        "404":
          description: Team not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Team not found.
                  docs:
                    type: string
                    example: "https://coolify.io/docs/api-reference/get-team-by-teamid-members"
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    email:
                      type: string
                    email_verified_at:
                      type: string
                      format: date-time
                    force_password_reset:
                      type: boolean
                    marketing_emails:
                      type: boolean
                    two_factor_confirmed_at:
                      type: string
                      format: date-time
                      nullable: true
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
  /team/current:
    get:
      summary: Authenticated Team
      description: Get the currently authenticated team.
      responses:
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Unauthenticated."
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  description:
                    type: string
                  name:
                    type: string
                  discord_enabled:
                    type: boolean
                  discord_notifications_database_backups:
                    type: boolean
                  discord_notifications_deployments:
                    type: boolean
                  discord_notifications_scheduled_tasks:
                    type: boolean
                  discord_notifications_status_changes:
                    type: boolean
                  discord_notifications_test:
                    type: boolean
                  discord_webhook_url:
                    type: string
                  personal_team:
                    type: boolean
                  resend_api_key:
                    type: string
                    nullable: true
                  resend_enabled:
                    type: boolean
                  show_boarding:
                    type: boolean
                  smtp_enabled:
                    type: boolean
                  smtp_encryption:
                    type: string
                    nullable: true
                  smtp_from_address:
                    type: string
                    nullable: true
                  smtp_from_name:
                    type: string
                    nullable: true
                  smtp_host:
                    type: string
                    nullable: true
                  smtp_notifications_database_backups:
                    type: boolean
                  smtp_notifications_deployments:
                    type: boolean
                  smtp_notifications_scheduled_tasks:
                    type: boolean
                  smtp_notifications_status_changes:
                    type: boolean
                  smtp_notifications_test:
                    type: boolean
                  smtp_password:
                    type: string
                    nullable: true
                  smtp_port:
                    type: integer
                    nullable: true
                  smtp_recipients:
                    type: string
                    nullable: true
                  smtp_timeout:
                    type: integer
                    nullable: true
                  smtp_username:
                    type: string
                    nullable: true
                  telegram_chat_id:
                    type: string
                  telegram_enabled:
                    type: boolean
                  telegram_notifications_database_backups:
                    type: boolean
                  telegram_notifications_database_backups_message_thread_id:
                    type: string
                  telegram_notifications_deployments:
                    type: boolean
                  telegram_notifications_deployments_message_thread_id:
                    type: string
                  telegram_notifications_scheduled_tasks:
                    type: boolean
                  telegram_notifications_scheduled_tasks_thread_id:
                    type: string
                  telegram_notifications_status_changes:
                    type: boolean
                  telegram_notifications_status_changes_message_thread_id:
                    type: string
                  telegram_notifications_test:
                    type: boolean
                  telegram_notifications_test_message_thread_id:
                    type: string
                  telegram_token:
                    type: string
                  use_instance_email_settings:
                    type: boolean
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
  /team/current/members:
    get:
      summary: Authenticated Team's Members
      description: Get the list of members in the currently authenticated team.
      responses:
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Unauthenticated."
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    email:
                      type: string
                    email_verified_at:
                      type: string
                      format: date-time
                    force_password_reset:
                      type: boolean
                    marketing_emails:
                      type: boolean
                    two_factor_confirmed_at:
                      type: string
                      format: date-time
                      nullable: true
                    created_at:
                      type: string
                      format: date-time
                    updated_at:
                      type: string
                      format: date-time
  /projects:
    get:
      summary: Projects
      description: 'Get list of projects'
      parameters: []
      responses:
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Unauthenticated."
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    success:
                      type: boolean
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                          uuid:
                            type: string
                          name:
                            type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Go to `Keys & Tokens` / `API tokens` and create a new token. Use the token as the bearer token."
security:
  - bearerAuth: []
